GOOGLE_APPLICATION_CREDENTIALS=file.json
GOOGLE_SHEET_ID=1A2B3C4D5E6F7G8H9I0J

ROLES_SHEET_NAME=Роли
ROLE_REQUESTS_SHEET_NAME=Запросы ролей
VISITS_SHEET_NAME=Посещения

BOT_TOKEN=1234567890:ABCDEFGHIGKLMNOPQRSTUVWXYZ
TG_PROXY=http://127.0.0.1:2081

REMINDERS_TIMEZONE=Europe/Moscow
REMINDERS_DAYS_OF_WEEK=mon,tue,wed,thu
REMINDER_MORNING_TIME=05:22
REMINDER_EVENING_TIME=05:23
